.container {
    width: 100%;
    max-width: 1500px;
    padding: 2em;
    margin: auto;
    

    .gallery-container {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .gallery-col {
        width: 40%;
    }
    
    .gallery-item {

                img {
                    max-height: 600px;
                    
                }
            }

    .slick-track {
        display: flex;
        align-items: center;
    }
}


// Counter
.counter {
    display: flex;

    .custom_paging {
        position: relative;
        padding-right: 2.75em;
        

        li {
            width: 100%;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            transform: matrix(1,0,0,1,0,-20);
            transition: all 600ms ease-in-out;
            
            

            button {
                border: none;
                background-color: transparent;
                color: #FDFFFA;
                font-family: $font__ivy;
                font-size: 2em;
                padding: 0;

            }
        }
    }

    .total-count {

        .total-slide-number {
            color: #FDFFFA;
            font-family: $font__ivy;
            font-size: 2em;
            line-height: 1;
        }

    }
}

.custom_paging li.slick-active {
    opacity: 1;
    visibility: visible;
    transform: matrix(1,0,0,1,0,0);
}